<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyNet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SyNet.Properties.Settings>
            <setting name="WindowMainWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowMainHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="SerialBaud" serializeAs="String">
                <value>19200</value>
            </setting>
            <setting name="WindowMainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowMainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>C:\SyNetLogs</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>1.0.0.0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableSyslog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TargetHost" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFacility" serializeAs="String">
                <value>local4</value>
            </setting>
            <setting name="SupportedBaudRates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4800</string>
                        <string>9600</string>
                        <string>19200</string>
                        <string>38400</string>
                        <string>57600</string>
                        <string>115200</string>
                        <string>230400</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SupportedFacilities" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>local0</string>
                        <string>local1</string>
                        <string>local2</string>
                        <string>local3</string>
                        <string>local4</string>
                        <string>local5</string>
                        <string>local6</string>
                        <string>local7</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="WindowTriggerTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTriggerLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowActionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowActionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGuiPanelConfigLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGuiPanelConfigTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGuiPanelToolboxTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGuiPanelToolboxLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowGuiPanelToolboxWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowGuiPanelToolboxHeight" serializeAs="String">
                <value>200</value>
            </setting>
        </SyNet.Properties.Settings>
    </userSettings>
</configuration>